/*------
BODY COLORS

rust orange #ED9A68
standard grey / footer #7D7D7E
charcoal #2A3636
pale beige #FDF8F4
rose quartz #FDF8F4
lightest grey #E8E8E8

HERO LINEAR GRADIENT

background: linear-gradient(180deg, #ED9A68 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(42, 54, 54, 0.68) 0%, #2A3636 37.5%);

TEXT COLORS

primary text #000
secondary text #2A3636
tertiary text #565656
---------*/


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
}


/* Fonts */

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Archivo;
  font-style: normal;
  font-weight: 300;
}


h1 {
  font-size: 48px;
  line-height: 167.23%;
}


h1.x-large {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
  padding-bottom: 2.4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 135%;
  padding-bottom: 4.8rem;
}

h4, h5, h6, p {
  font-family: Work Sans;
  font-style: normal;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}

h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  font-weight: bold;
  font-size: 18px;
  line-height: 167.23%;
  text-transform: uppercase;
}

p {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 140%;
  padding-bottom: 3.6rem;
}

ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

.copyright {
  display: block;
  font-size: 1.5rem;
  margin-top: 4rem;
  text-align: center;

  /* standard grey */
  color: #FDF8F4;
}

.footer-icon {
  /* pale beige */
  color: #FDF8F4;
  font-size: 3rem;
}

.nav-link {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 167.23%;
  text-transform: uppercase;
}

.light {
  /* pale beige */
  color: #FDF8F4;
}

.skill-icon {
  color: #C86F3A;
  font-size: 6.4rem;
}



/* Div Elements */

nav {
  /* width: 100%; */
}

footer {
  background-color: #7D7D7E;
  padding: 9.6rem;
  text-align: center;
}

section {
  padding: 8rem 0;
  /* margin: 2rem; */
}

.btn-orange {
  /* rust orange */
  background-color: #ED9A68;
  border-radius: 2px;
  color: #FDF8F4;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 167.23%;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
}

.btn-wire {
  /* rust orange */
  border: #ED9A68;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  /* rust orange */
  color: #ED9A68;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 167.23%;
  padding: 1.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
}

.category-tag {
  /* rust orange */
  background-color: #ED9A68;
  display: inline-block;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  text-transform: uppercase;
}

.category-tag-container {
  margin: 0;
  padding: 0;
}

.case-study {
  display: grid;
  grid-template-columns: 1fr;
}

.contact {
   /* pale beige  */
  border: 1px solid #FDF8F4;
  padding: .5rem .8rem;
}

.container {
  display: grid;
}

.content-box {
  margin: 0 auto;
  width: 900%;
}

.designer {
  /* rust orange */
  background-color: #ED9A68;
  text-align: center;
}

.footer-btn {
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
}

.gradient {
  background: linear-gradient(180deg, #ED9A68 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(42, 54, 54, 0.68) 0%, #2A3636 37.5%);
}

.hero-left-btn {
  margin-right: 2rem;
}

.nav-align {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.nav-link {
  margin: 1.8rem;
}

.nav-links {
  display: inline-flex;
  /* float: right; */
  margin-top: 2rem;
}

.skills {
  float: left;
  margin: 1%;
  padding: 1%; */
  text-align: center;
  width: 47%
}

.social-container {
  display: inline-flex;
}

.social-icons {
  padding: 1rem;
}

/* Responsive for Tablets */
@media screen and (min-width: 768px) {

}

/* Responsive for Desktop */
@media screen and (min-width: 1000px) {
  .content-box {
    margin: 0 auto;
    max-width: 1000px;
  }

  .case-study {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* max-width: 1400px; */
  }

 .case-study article {
   padding-left: 1rem;
 }

 .case-study img {
   float: right;
 }

  .skills {
      width: 23%;
      margin: 1%;
      padding: 1%;
  }
}
